<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= name %></p>

    <h2>Datos personales</h2>
    <h2>Formación académica</h2>
    <h2>Experiencia laboral</h2>
    <h2>Enlace a sus redes sociales</h2>
    <h2>Habilidades y destrezas</h2>

  </body>
</html>
